.sidebar-flex-col{
    height: calc(100vh - 6px);
    display: flex;
    flex-direction: column;
    border: solid 3px black;
}

.sidebar-logo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: solid 3px black;
}

.sidebar-option{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    border: solid black;
    box-shadow: -3px 3px 4px 0px black;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.sidebar-option p{
    margin: 9px;
    margin-left: 12px;
}